<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:f="http://xmlns.jcp.org/jsf/core"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             template="template.xhtml">

    <h:form>
        <p:toolbar>
            <p:toolbarGroup>
                <p:commandButton value="Adicionar" action="#{tarefaBean.adicionar()}" update="@form"></p:commandButton>
                <p:commandButton value="Listar" action="#{tarefaBean.listar()}" update="@form"></p:commandButton>
            </p:toolbarGroup>
        </p:toolbar>
        <p:messages autoUpdate="true" showDetail="true"></p:messages>
        <p:fieldset legend="Tarefa">
            <p:panelGrid columns="2">
                <h:outputLabel value="Nome"></h:outputLabel>
                <p:inputText value="#{tarefaBean.tarefa.nome}"></p:inputText>

                <h:outputLabel value="Status"></h:outputLabel>
                <p:inputText value="#{tarefaBean.tarefa.status}"></p:inputText>

                <h:outputLabel value="Descrição"></h:outputLabel>
                <p:inputText value="#{tarefaBean.tarefa.descricao}"></p:inputText>

                <h:outputLabel value="Data"></h:outputLabel>
                <p:calendar value="#{tarefaBean.tarefa.data}" ></p:calendar>
            </p:panelGrid>
            <p:dataTable value="#{tarefaBean.tarefas}" var="tarefa">
                <p:column>
                    <p:commandButton value="Editar" action="#{tarefaBean.editar(tarefa)}" update="@form"></p:commandButton>
                    <p:commandButton value="Deletar" action="#{tarefaBean.deletar(tarefa)}" update="@form"></p:commandButton>
                </p:column>
                <p:column headerText="Nome" sortBy="#{tarefa.nome}">
                    <h:outputText value="#{tarefa.nome}"></h:outputText>
                </p:column>
                <p:column headerText="Status" sortBy="#{tarefa.status}">
                    <h:outputText value="#{tarefa.status}"></h:outputText>
                </p:column>
                <p:column headerText="Descrição" sortBy="#{tarefa.descricao}">
                    <h:outputText value="#{tarefa.descricao}"></h:outputText>
                </p:column>
                <p:column headerText="Data" sortBy="#{tarefa.data}">
                    <h:outputText value="#{tarefa.data}">
                        <f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </p:fieldset>
    </h:form>
</ui:decorate>

